.footer-menu {
    background-color: #000;
}
.footer-menu__wrapper {
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
    padding: 80px 10px 35px 10px;
    border-bottom: #FFF solid 1px;
    @media (max-width: 1024px) {
        padding: 40px 10px 15px 10px;  
    }
}
.footer-menu__description {
    flex: 1 1 50%;
    padding: 10px 20px 36px 0;
    @media (max-width: 768px) {
        flex: 1 1 100%;
        text-align: center;
    }
}
.footer-menu__logo {
    margin-bottom: 20px;
    display: block;
}
.footer-menu__text {
    margin: 0;
    margin-bottom: 15px;
    @media (max-width: 768px) {
        align-items: center;
    }
}
.footer-menu__lists {
    flex: 1 1 50%;
    display: flex;
    padding: 10px 20px 36px 120px;
    @media (max-width: 1024px) {
        padding: 10px 20px 36px 50px;  
    }
    @media (max-width: 768px) {
        flex: 1 1 100%;
        padding: 10px 20px 36px 10px; 
        justify-content: center;
    }
    @media (max-width: 548px) {
        flex-wrap: wrap;
        padding: 10px 20px 20px 10px; 
    }
}
.footer-menu__business {
    margin-right: 50px;
    @media (max-width: 548px) {
        margin-right: 0px;
    }
}
.business {
    @media (max-width: 548px) {
        flex: 1 1 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}
.business__title {
    margin: 0;
    margin-bottom: 10px;
}
.business__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.business__item {
    margin-bottom: 10px;
}
.business__link {
}
.footer-menu__pages {
}
.pages {

    @media (max-width: 548px) {
        flex: 1 1 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}
.pages__title {
    margin: 0;
    margin-bottom: 10px;
}
.pages__list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.pages__item {
   margin: 0; 
   padding: 0;
   margin-bottom: 10px;
}
.pages__link {
}
//subscrib======================================================================
.subscrib {
    background-color: #000;
}
.subscrib__conteiner {
    display: flex;
    flex-wrap: wrap;
    padding: 36px 10px;
    border-bottom: 1px solid #fff;
}
.subscrib__description {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 768px) {
        flex: 1 1 100%;
        align-items: center;
    }
}

.subscrib__title {
    margin: 0;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        align-items: center;
    }
}
.subscrib__text {
    margin: 0;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        align-items: center;
    }
}
.subscrib__input {
    flex: 1 1 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    @media (max-width: 768px) {
        flex: 1 1 100%;
        justify-content: center;
    }
}
.subscrib__field {
    position: relative;
    display: inline-block;
    input {
        min-width: 500px;
        min-height: 52px;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        border: 1px solid #E5E7EB;
        background-color: #F9FAFB;
        font-family: inherit;
        padding-left: 15px;
        padding-right: 90px;
        @media (max-width: 1024px) {
            min-width: 350px;
        }
        @media (max-width: 524px) {
            min-width: 200px;
        }
        &:hover {
            border: 2px solid rgb(45, 47, 53);
        }
        &:focus {
            outline: none;
            border: 2px solid rgb(29, 30, 32);
        }
    }
    button {
        width: 63px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 6px;
        background-color: #000;
        border-radius: 11px;
        cursor: pointer;
        border: none;
        transition: background-color 0.5s;
        &:hover {
            background-color: rgba(15, 14, 14, 0.925);
            transition: background-color 0.5s;
        }
        &:active {
            border: 4px solid rgb(3, 3, 3);
            transition: border 0.1s;
        }
    }
}
//===================================================================
.sochial {
    background-color: #000;
}
.sochial__conteiner{
    display: flex;
    padding: 56px 10px 100px 10px;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}
.sochial__text {
}
.sochial__list {
    list-style: none;
    display: flex;
    padding: 0;
}
.sochial__items:not(:last-child) {
    margin-right: 15px;
}
.sochial__link {
    padding: 5px;
    &:hover {
        color: #000;
    }
}